    

    footer{
        width: 100%;
        background-color: rgba(102, 120, 145, 0.418);
       
    }


    .logo {
        display: block;
        position: relative;
        left: 40%;
       
         
    
    }